@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;700;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: rgba(0, 0, 0, 0.925);
    height: 80px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
}


.logo--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo__img {
    width: 80px;
}

.logo--text {
    color: rgba(255, 255, 255, 0.895);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: .04rem;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    padding-right: 16px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.895);
    font-weight: 600;
    letter-spacing: .04rem;
}

.nav__link--anchor:hover,
.logo--text:hover
 {
    color: rgba(255, 217, 0, 0.909);
    cursor: pointer;
    transition: all 300ms ease;
    transform: scale(1.03);
}

.logo__img:hover {
    cursor: pointer;
    transition: all 300ms ease;
}

.nav__link--anchor-primary {
    color: rgba(0, 0, 0, 0.895);
    background-color: gold;
    border-radius: 25px;
    padding: 12px 32px;
}

.nav__link--anchor-primary:hover {
    color:rgba(255, 255, 255, 0.961);
    border: 2px solid gold;
    transition: all 300ms ease;
    transform: scale(1.03);
}

.yellow--text {
    color:rgba(255, 217, 0, 0.909);
}

i {
    font-weight: 600;
}


/* LANDING */


#landing {
    height: calc(110vh - 80px);
    background-color: #e0d2b4;
    background-image: linear-gradient(315deg, #e0d2b4 0%, #e2ac6b 74%);
}

.landing__container {
    padding: 0 24px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

.landing__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing__description {
    width: 50%;
    color: rgba(0, 0, 0, 0.708);
}

.quote {
    padding: 16px;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.801);
}

.quote__wrapper--mini {
    padding-left: 300px;
}

.fas {
    color: gold;
    padding-bottom: 8px;
}

.landing__description--title {
    color: rgba(0, 0, 0, 0.708);
    font-size: 40px;
    padding: 60px 0 32px 0;
    letter-spacing: .04rem;
    animation: fade-up 750ms 400ms backwards;
}

.landing__description--para {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 16px;
    line-height: 1.5;    
    animation: fade-up 950ms 400ms backwards;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    border: 1px solid gold;
    background-color: gold;
    border-radius: 25px;
    padding: 16px 24px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: .04rem;
    animation: fade-up 1050ms 400ms backwards;
}

button:hover {
    transform: scale(1.03);
    color:rgba(255, 255, 255, 0.961);
    transition: all 300ms ease;
}

.landing__img--wrapper {
    width: 50%;
    animation: animate-landing-img 650ms 200ms backwards;
}

.landing__img {
    padding: 32px 0 0 48px;
    width: 500px;
}

@keyframes animate-landing-img {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/*  ABOUT */

.about__container,
.use__container,
.testimonials__container {
    padding: 40px 24px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.about__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about__img--wrapper {
    width: 40%;
    animation: animate-about-img 650ms 200ms backwards;
    z-index: 2;
}

.about__img {
   width: 100%;
   max-width: 600px;
}

@keyframes animate-about-img {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1);
    }
}

.about__description {
    width: 60%;
    text-align: center;
}

.about__title,
.use__title,
.shop__title,
.testimonials__title {
    color: rgba(0, 0, 0, 0.735);
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 24px;
    letter-spacing: .04rem;
}

.about__subtitle,
.use__subtitle,
.shop__subtitle,
.testimonials__subtitle {
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
}

.about__description--para,
.use__description--para {
    font-size: 20px;
    padding-bottom: 64px;
    justify-content: center;

}

.about__ingredient--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about__list--item {
    width: 30%;
    text-align: center;
    padding-bottom: 32px;
}

.about__item--para {
    color: rgba(0, 0, 0, 0.735);
    padding-bottom: 16px;
}


/* USE */

#use {
    background-color: #e0d2b4;
    background-image: linear-gradient(315deg, #e0d2b4 0%, #e2ac6b 74%);
}

.use__container,
.about__container {
    padding: 60px 0;
}

.use__row {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.use__title--wrapper {
    text-align: center;
    justify-content: center;
}

.use__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.use__item {
    width: 25%;
    text-align: center;
}

.use__steps--wrapper {
    margin: 0 auto;
}

.use__item--wrapper {
    display: flex;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

.use__item--wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 650ms ease;
    z-index: 1;
}

.use__item--wrapper:hover {
    opacity: 0.8;
}

.use__item--wrapper:hover .use__img {
    transform: scale(1.07);
    filter: blur(5px);

}

.use__img {
    width: 100%;
    align-items: center;
    border-radius: 8px;
    transition: all 500ms ease;
    
}

.use__item--description {
    position: absolute;
    top: 30%;
    transition: opacity 300ms;
    z-index: 3;
}

.use__item--description-title {
    padding-bottom: 8px;
    font-size: 16px;
}

.use__item--description-title,
.use__item--para {
    visibility: hidden;
}

.use__item:hover .use__item--description {
    border: 1px solid rgba(169, 169, 169, 0.537);
    background-color: rgba(82, 75, 75, 0.678);
    border-radius: 8px;
    margin: 0 8px;
}

.use__item:hover .use__item--description-title{
    visibility: visible;
    font-size: 24px;
    font-weight: 450;
    color: rgb(255, 255, 255);
    opacity: 999;
}

.use__item:hover .use__item--para {
    visibility: visible;
    font-weight: 400;
    color: white;
}

 

/* 

SHOP

*/

.shop__container {
    padding: 60px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.shop__title {
    padding-top: 32px;
}

.shop__title,
.shop__subtitle  {
    text-align: center;
}

.shop__subtitle {
    padding-bottom: 24px;
}

.shop__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 56px;
}

.shop__item {
    width: 30%;
    text-align: left;
}

.shop__item:hover .shop__img {
    transform: scale(1.03);
}

.shop__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.shop__img {
    max-height: 300px;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.shop__item--title {
    color: rgba(0, 0, 0, 0.655);
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}

.shop__item--title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.item__price--normal {
    color: lightgrey;
    text-decoration: line-through;
    padding-right: 8px;
}

.buy__btn {
    margin-top: 16px;
    border-radius: 8px;
}

/* 

TESTIMONIALS

*/

#testimonials {
    background-color: #e0d2b4;
    background-image: linear-gradient(315deg, #e0d2b4 0%, #e2ac6b 74%);
}

.testimonials__row {
    text-align: center;
}

.testimonials__subtitle {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.slideshow--wrapper-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideshow__img {
    width: 70px;
}

.quote--title {
    letter-spacing: .04rem;
    color: gold;
    padding-bottom: 16px;
}

.quote--para {
    width: 380px;
    padding: 0 16px;
    line-height: 1.5;
}

.testimonials__ratings {
    padding-bottom: 8px;
}

.slideshow {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    height: 380px;
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: 10px 15px 15px rgb(94, 69, 6);
    padding-top: 32px;
    overflow: hidden;
}

.slideshow--wrapper {
    max-width: 880px;
    display: flex;
    animation: slide 32s infinite;
}

.slideshow--wrapper-mini {
    padding: 8px;
    border: 1px solid rgba(169, 169, 169, 0.537);
    background-color: rgba(82, 75, 75, 0.114);
    border-radius: 8px;
    margin: 0 24px;
}

@keyframes slide {
    0% {
        transform: translate(0);
    }
    9% {
        transform: translateX(0);
    }
    18% {
        transform: translateX(-100%);
    }
    27% {
        transform: translateX(-100%);
    }
    36% {
        transform: translateX(-200%);
    }
}

.testimonials__btn--wrapper {
    margin-top: 40px;
}